#Boards_show_page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ebecf0;
  background-image: url('https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2397x1600/912802aace2d9da995b1019988fe612c/photo-1552152370-fb05b25ff17d.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  .grid {
    flex-grow: 1;
    margin: 0;
    overflow: auto;

    .row {
      margin: 0;
      height: 200px;
      margin-bottom: 8px;
      flex-wrap: nowrap;

      &.header {
        height: auto;
        font-weight: 700;
        position: sticky;
        top: 0;
        z-index: 4;

        .column {
          text-align: center;
          background-color: #78909c;
          color: #fff;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
            rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

          padding: 10px;

          border-radius: 3px;

          &::before {
            background-color: transparent;
          }

          &.new-list {
            background-color: #78909c;
          }

          &.header {
            background-color: transparent;
            box-shadow: none;
          }
        }
      }

      .column {
        width: 300px;
        margin-right: 8px;
        position: relative;
        flex-shrink: 0;

        &.header {
          width: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #78909c;
          color: #fff;
          font-weight: 700;
          position: sticky;
          left: 0;
          z-index: 5;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px,
            rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;

          border-radius: 3px;

          .item {
            text-align: center;

            .image {
              border-radius: 9999px;
              overflow: hidden;
              background-color: #f0f0f0;
              padding: 10%;
            }

            .header {
              margin-top: 5px;
            }
          }
        }

        .segment {
          height: 200px;
          background-color: #ebecf0;
          box-sizing: border-box;
          padding: 0;
          position: relative;
          z-index: 3;
          display: flex;
          flex-direction: column;

          .cards {
            flex-grow: 1;
            overflow: auto;
            margin: 0;
            padding-bottom: 8px;

            .card {
              margin: 8px;
              margin-bottom: 0;
            }
          }

          .button {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s;
          }

          &:hover {
            .button {
              opacity: 1;
            }
          }
        }

        &.new-list {
          cursor: pointer;

          .segment {
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-wrapper {
              height: calc(100% - 10px);
              width: calc(100% - 10px);

              display: flex;
              justify-content: center;
              align-items: center;

              border: 8px dashed #e0e0e0;

              .icon {
                font-size: 64px;
                margin: 0;
                height: auto;
                width: auto;
                color: #e0e0e0;
              }
            }
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
