<template name="App_body">
  <div id="App_body">
    <nav id="navigation">
      <div class="ui menu fixed inverted">
        <div class="ui container">
          <a href="/" id="nav-logo" class="header item">
            <img class="logo" src="assets/images/logo.png" />
            Flowboard
          </a>
          {{#if currentUser }}
          <a href="/boards" id="nav-boards" class="item">Boards</a>
          <div class="right menu">
            <a class="item" id="nav-logout">Logout</a>
          </div>
          {{/if}}
        </div>
      </div>
    </nav>
    <div id="content-container">
      {{#if Template.subscriptionsReady}} {{> Template.dynamic template=main}}
      {{/if}}
    </div>
  </div>
</template>
